@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Lusitana:wght@400;700&display=swap');

  .wrapper {
    width: 100%;
    margin: 0 auto;
  }


 a {
  text-decoration: none;
 }
 a:hover {
  color: #74bce0; /* Задаём изменение цвета ссылок при наведении курсора */
 }
 
 
 html {
  scroll-behavior: smooth;
}

body {
  background: #FDF9F4;
  font-family: "Literata", serif;
  margin: 0 auto;
}

body.dark-theme {
  background: #1E3A81;
}

body.dark-theme a {
  color: #FDF9F4;
}

.btn-toggle{
  border: none;
  padding: 0;
  background-color: #FDF9F4;
}

.sun_theme{
  display: none;
}

body.dark-theme .moon_theme {
  display: none;
}

body.dark-theme .sun_theme{
display:block;
padding-block: 0;
background-color: #1E3A81;
path{
  fill: #FDF9F4;
}
} 

   body.dark-theme .nav-toggle{
    background-color: #1E3A81;
    path{
      stroke: #FDF9F4;
    }
    
   } 
   .nav-toggle{
    border: none;
    padding: 0;
    background-color: #FDF9F4;
   }


a {
  text-decoration: none;
 }
 
 
 
 .header {
  width: 81.94%;
  margin: 0 auto; 
  position: relative;
  border-bottom: 1.5px solid #5680E9;
  align-items: center;
 }

 body.dark-theme .header {
  border-bottom: 1.5px solid #FDF9F4;
 }
 
 .logo {
 color: #5680E9;
 font-family: "Lusitana", serif;
 font-size: 2.222vw;
 font-style: normal;
 font-weight: 400;
 line-height: 1;
 line-height: 140%;
 letter-spacing: 1.6px; 
 text-align: center;
 }

 .logo:hover{
  text-shadow: #74bce0 1px 0 5px;
 }
 
 .menu_list {
  display: flex; /* Отображаем элементы списка в строку */
  list-style: none;/* Убираем стандартные маркеры (чёрные точки) */
  justify-content: space-between; 
  align-items: center;
  padding-inline: 0px;
  width: 56.61%;
 } 

 /* Стилизуем ссылки в меню */
 .menu_list-link {
  font-size: 1.389vw; /* Уменьшаем размер шрифта */
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: 1px;
  color: #5680E9; /* Устанавливаем цвет ссылок */
  cursor: pointer; /* Задаём изменение вида курсора при наведении на пункты меню */
  transition: all 0.3s; /* Добавляем плавное изменение стилей при наведении */
 }
 
 /* Добавляем стилизацию ссылок в меню при наведении курсора */
 .menu_list-link:hover {
  color: #74bce0; /* Задаём изменение цвета ссылок при наведении курсора */
 }
 .menu{
  display: flex; /* Отображаем элементы списка в строку */
  list-style: none;/* Убираем стандартные маркеры (чёрные точки) */
  justify-content: space-between;
  align-items: center;
  margin-block: 15px;
 }
 
 .favourite_bag{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  column-gap: 23px;
 }
 .favourite_bag svg:hover{
  box-shadow: #74bce0 1px 0 5px;
 }

 body.dark-theme .heart {
  path
  {fill:#FDF9F4;}
}
body.dark-theme .bag {
  path
  {stroke:#FDF9F4;}
}

 /* кнопка переключения меню, появляющаяся при ширине 768px */
.nav-button {
display: none;
cursor: pointer;
}
 
 .main {
  width: 82%;
  margin: 0 auto; /* Центрируем контейнер по горизонтали */
 }
 .image-container {
  margin-top: 100px;
  position: relative;
}

.image-container img {
  /* margin-top: 6.94%; */
 height: auto;
 width: 100%;
}


.text-overlay {
  position: absolute;
  bottom: 20.7%;
  left: 10.93%;
  right: 10.93%;
  /* margin-right: auto; */
  font-size: 2.500vw;
  /* max-width: 78%;  */
  color: #FFF;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 50.4px */
  letter-spacing: 1.8px;
}


 
 .subtitle{
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 60px;
  justify-content: space-between;
 }
 .subtitle-name{
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-block: 0;
 }
 body.dark-theme .subtitle-name {
  color: #FDF9F4;
}
 .see-all-link{
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
 }

 .item-container {
  position: relative;
  width: 100%;
  height:auto; 
  transition: 1s; /* Время эффекта */
  }
  .item-container:hover {
  transform: scale(1.1); /* Увеличиваем масштаб */
  }

.image_item {
 height: auto;
 width: 100%;
}

.favourite {
  position:absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
}
.favourite svg:hover{
  path
   {fill:#FDF9F4;}
  circle
   {fill: #5680E9;}    
}
.info_item, .info_item2{
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 16px;
  text-align: center;
}
.item{
  display: flex;
  flex-direction: column;
  position: relative;
  /* width: 360px; */
}
.list_items{
justify-content: space-between;
column-gap: 50px;
display: grid;
grid-template-areas: "post-1 post-2 post-3";
}
.item:nth-child(1){
  grid-area: post-1;
}
.item:nth-child(2){
  grid-area: post-2;
} 
.item:nth-child(3){
  grid-area: post-3;
} 


.subtitle_brand{
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 60px;
  margin-top: 80px;
 }
 body.dark-theme .subtitle_brand, body.dark-theme .brand_text {
  color: #FDF9F4;
}
 
.brand_text{
color: #000;
text-align: justify;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-indent: 36px;
}
.brand_text p{
  margin-block: 0;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 300px;
  position: relative;
  /* margin: auto; */
  float: right;
  margin-left: 45px;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}


/* Number text (1/3 etc) */
.numbertext {
  color:white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.footer {
  margin: 0 auto; 
  background-color: #5680E9;
  align-items: center;
  margin-top: 100px;
 }

 body.dark-theme .footer{
  background-color: #1E3A81;
  border: 1.5px solid #FDF9F4;
 }
  
 /* Стилизуем логотип */
footer .logo {
 color:#FDF9F4;
 margin-block: 95px;
 }
 
 /* Стилизуем списки меню */
 .footer_column {
  display: flex; 
  flex-direction: column;
  row-gap: 13px;
  list-style: none;/* Убираем стандартные маркеры (чёрные точки) */
  justify-content: space-between; 
  align-items: left;
  padding-inline: 0px;
  margin-block: 85px;
 } 

 /* Стилизуем ссылки в меню */
 footer .menu_list-link {
  font-size: 1.389vw; /* Уменьшаем размер шрифта */
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: 1px;
  color:#FDF9F4; /* Устанавливаем цвет ссылок */
  cursor: pointer; /* Задаём изменение вида курсора при наведении на пункты меню */
  transition: all 0.3s; /* Добавляем плавное изменение стилей при наведении */
 }
 
 /* Добавляем стилизацию ссылок в меню при наведении курсора */
 .menu_list-link:hover {
  color: #74bce0; /* Задаём изменение цвета ссылок при наведении курсора */
 }
 .footer_menu{
  display: flex; /* Отображаем элементы списка в строку */
  list-style: none;/* Убираем стандартные маркеры (чёрные точки) */
  justify-content: space-between;
  align-items: center;
  width: 81.94%;
  margin: 0 auto; 
 }

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 1080px){
  .logo {
   font-size: 24px;
   }
 footer .menu_list-link {
   font-size: 15px; 
   }
 .menu_list{
   width:50%;
 }
 .favourite_bag{
   column-gap: 10px;
 }
 .menu{
   margin-block: 11px;
 }
 
}
@media (max-width: 930px){
      .main, .header, .footer_menu {
        width: 86.98%; 
      }
 }
   @media (max-width: 768px){
/* .main{
  width: 86.98%;
} */
footer .logo {
  margin-block: 69px;
  }
  
  .footer_column {
   margin-block: 58px;
  } 
}
@media (max-width: 768px){

  .menu_list /* :not(:first-child,:last-child) */ {
   display: none;
 }
 .nav-button {
   display: block;
   z-index: 9;
   border: none;
   background-color: #FDF9F4;
   padding: 0;
   padding-inline: 0;
   padding-block: 0;
  /*  position: fixed; */
 }
 .nav-button svg {
   display: block;
   z-index: 9;
   border: none;
   background-color: #FDF9F4;
   padding: 0;
   padding-inline: 0;
   padding-block: 0;
  /*  position: fixed; */
 }
 
 body.dark-theme .nav-button svg{
   background-color: #1E3A81;
   path{
     stroke: #FDF9F4;
   }
  }
 
 nav.open .menu_list{
   
   position: fixed;
   top: 90px;
   right: 5.26%;
   background-color:#ffffff;
   border: 1.5px solid #5680E9;
   z-index: 1;
   margin-block: 0;
   display: flex;
   flex-direction: column;
  
   width: 225px;
   height: 225px;
   justify-content:space-around;
 }
 body.dark-theme nav.open .menu_list{
   background-color: #5680E9;
   border-top: 1.5px solid #FDF9F4;
  }
 nav.open .menu_list-link {
   font-size: 18px;
 }
    }

    @media (max-width: 767px){
 
      .main{
        width: 89.47%;
      }
      .header{
        width: 89.47%;
      }
     
       /* Стилизуем логотип */
      footer .logo {
       font-size: 32px;
       margin-top: 45px;
       margin-bottom: 30px;
       }
       
       /* Стилизуем списки меню */
       .footer_column {
    margin-top: 0px;
        margin-bottom: 45px;
        font-size: 14px;
       } 
      
       /* Стилизуем ссылки в меню */
       footer .menu_list-link {
        font-size: 14px; /* Уменьшаем размер шрифта */ 
       }
       
       /* Добавляем стилизацию ссылок в меню при наведении курсора */
       .menu_list-link:hover {
        color: #74bce0; /* Задаём изменение цвета ссылок при наведении курсора */
       }
       .footer_menu{
        width: 89.47%;
        display: grid;
        grid-template-areas: "post-1 post-1 "  
                             "post-2 post-3 ";
        }
        .footer_menu .logo{
          grid-area: post-1;
        }
        .footer_column:nth-child(2){
          grid-area: post-2;
        } 
        .footer_column:nth-child(1){
          grid-area: post-3;
        }  
       }


    @media (max-width: 500px){
     nav.open .menu_list{
       top: 70px;
     }
     header .logo{
       font-size: 20px;
      }
      .menu{
       margin-block: 7px;
      }
      .btn-toggle svg{
       width: 24px;
       height: 24px;
       path{stroke-width: 2px;
       }
      }
      .bag{
       height: 40px;
       width: 40px;
      }
      .heart{
       height: 24px;
       width: 28px;
      }
      .nav-button svg{
       width: 20px;
       height: 15px;
       path{stroke-width: 2.5px;
      }
      
    }}
@media (max-width: 800px){
  .text-overlay{
    font-size: 20px;
    left: 7.28%;
    right: 7.28%;
  }

  }
 
  @media (max-width: 500px){
 
   .item .info_item{
    font-size: 13px;
    margin-top: 3px;
    
  }
  .info_item2{
    font-size: 13px;
   margin-top: 10px;
  }
  
   }
    
  @media (max-width: 768px) /* and (min-width: 380px) */{
    .text-overlay{
      font-size: 2.604vw;
     /*  left: 7.28%;
      right: 7.28%; */
    }
    .image_item{
      height: 197px;
    }
     @media (max-width: 615px){
    .text-overlay{
      font-size: 16px;
      left: 11.47%;
      right: 11.47%;
    }}
    .image-container img {
     height: 332px;
    
    }
   /*  .image-container{
      overflow: hidden; 
      width: 100%;
    } */

    .subtitle{
      margin-top: 76px;
     }
     .subtitle-name{
     
      font-size: 20px;
     
      
     }
     .see-all-link{
      
      font-size: 16px;
      
     }
     .subtitle_brand{
      font-size: 20px;
     }
     .brand_text{
      font-size: 16px;
      text-indent: 22px;
      }
     @media (max-width: 500px){
      .main{
        width: 89.47%;
      } 
    
    .subtitle{
      margin-top: 54px;
     }
     .subtitle-name{    
      font-size: 18px;      
     }
     .subtitle_brand{
      margin-top: 60px;
      margin-bottom: 40px;
     }
     .see-all-link{      
      font-size: 15px;
     }
     .subtitle_brand{
      font-size: 18px;
     }
     .info_item{
      font-size: 13px;
      margin-top: 5px;
      
    }
    .info_item2{
      font-size: 13px;
     margin-top: 10px;
    }
    
     }
     @media (max-width: 600px){
         .slideshow-container {
        width: 340px;
        float: none;
        margin: auto;
      }
      .brand_text{
      margin-top: 20px;
      font-size: 15px;
      text-indent: 16px;
      }
     }

    .list_items {
      /* margin-left: 16px; */
      display: flex;
      column-gap: 20px;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      width: 100%;
      height: 255px;
      -webkit-overflow-scrolling: touch; /* для плавной прокрутки на мобильных устройствах */
    }
  .item {
      flex: none;
      scroll-snap-align: start;
     /*  width: 340px; */
   
      text-align: center;
    }
    .info_item{
      font-size: 13px;
      margin-top: 0px;
      
    }
    .info_item2{
      font-size: 13px;
     margin-top: 10px;
    }
    
   
    .item{
    width: 209px;
    height: 254px;
      
    }

  }

  @media (min-width: 1441px){
    .wrapper{
      width: 1440px;
    }
       .logo{
        font-size: 32px;
       }
       .menu_list-link,footer .menu_list-link,  .info_item, .info_item2{
        font-size: 20px;
       }
      
       }
